@using Carreno_BugTracker.Helpers
@using Microsoft.AspNet.Identity

@{ 
    RolesHelper rolehelper = new RolesHelper();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BugHub | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link href="~/Content/all.min.css" rel="stylesheet" />

    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link href="~/Content/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- iCheck -->

    <link href="~/Content/icheck-bootstrap.min.css" rel="stylesheet" />
    <!-- JQVMap -->

    <link href="~/Content/jqvmap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Content/adminlte.min.css" rel="stylesheet" />
    <!-- overlayScrollbars -->
    <link href="~/Content/OverlayScrollbars.min.css" rel="stylesheet" />
    <!-- Daterange picker -->
    <link href="~/Content/daterangepicker.css" rel="stylesheet" />
    <!-- summernote -->
    <link href="~/Content/summernote-bs4.css" rel="stylesheet" />


    <link href="~/Content/DataTables/dataTables.bootstrap4.css" rel="stylesheet" />

    <link rel="shortcut icon" href="~/img/rsz_1rsz_bug.png" />




    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav m1-auto">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
               
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="@Url.Action("Contact", "Home")" class="nav-link">Contact</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="@Url.Action("UserProfile", "Home", new { userId = User.Identity.GetUserId() })" class="nav-link">Profile</a>
                </li>


            </ul>

            <br />

            <!-- SEARCH FORM -->
            @*<form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>*@

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        @if (MessageHelper.GetUnreadNotifications().Count != 0)
                        {
                            <span class="badge badge-danger navbar-badge">@MessageHelper.GetUnreadNotifications().Count</span>
                        }
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

                        @foreach (var notification in MessageHelper.GetUnreadNotifications())
                        {
                            <a href="#" class="dropdown-item">
                                <!-- Message Start -->
                                <div class="media">
                                    <img src="~/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">
                                            @notification.Sender.FullName
                                            <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                        </h3>
                                        <p class="text-sm">@notification.NotificationBody</p>
                                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i>@notification.Created.ToString("MMM dd, yyyy")</p>
                                    </div>
                                </div>
                                <!-- Message End -->
                            </a>
                        }


                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>
                <!-- Notifications Dropdown Menu -->

            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="~/img/bug.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light"><b>Bug</b>Hub</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                @{
                    var userHelper = new UserHelper();
                }

                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="@userHelper.GetUserAvatar()" class="wd-32 rounded-circle" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@userHelper.GetUserDisplayName()</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview menu-open">
                            <a href="@Url.Action("Index", "Home")" class="nav-link active">
                                <i class="nav-icon fas fa-layer-group"></i>
                                <p>
                                    Dashboard

                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview menu-open">
                            <a href="#" style="background-color:#343a40" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Tools
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            @if (User.IsInRole("Admin"))
                            {
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("ManageRoles", "Admin") " class="nav-link">
                                            <i class="fas fa-user-astronaut"></i>
                                            <p>Assign Roles</p>
                                        </a>
                                    </li>
                                </ul>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("ManageProjectAssignments", "Projects") " class="nav-link">
                                            <i class="fas fa-user-edit"></i>
                                            <p>Assign Users</p>
                                        </a>
                                    </li>
                                </ul>
                            }
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Projects") " class="nav-link">
                                        <i class="fas fa-cog"></i>
                                        <p>Projects</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Tickets") " class="nav-link">
                                        <i class="fas fa-ticket-alt"></i>
                                        <p>Tickets</p>
                                    </a>
                                </li>
                            </ul>

                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "TicketNotifications") " class="nav-link">
                                        <i class="menu-item-icon fas fa-satellite-dish tx-22"></i>
                                        <p>Notifications</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "TicketHistories") " class="nav-link">
                                        <i class="menu-item-icon fas fa-address-book tx-22"></i>
                                        <p>Ticket Histories</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Users", "Home") " class="nav-link">
                                        <i class="menu-item-icon fas fa-user-friends"></i>
                                        <p>Users</p>
                                    </a>
                                </li>
                            </ul>


                        </li>
                        @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                        {
                            <li class="nav-item has-treeview menu-open">
                                <a data-toggle="modal" data-target="#newProject" href="" class="nav-link active" style="background-color:cadetblue">
                                    <i class="nav-icon fas fa-cogs"></i>
                                    <p>
                                        Create Project
                                        <i class="right fas"></i>
                                    </p>
                                </a>
                            </li>

                        }
                        <li class="nav-item has-treeview menu-open">
                            <a href="@Url.Action("CustomLogOff", "Account")" class="nav-link active" style="background-color:red">
                                <i class="nav-icon fas fa-door-closed"></i>
                                <p>
                                    Sign Off
                                    <i class="right fas"></i>
                                </p>
                            </a>
                        </li>


                        @*<
                </li>
                <li class="nav-item">
                    <a href="pages/UI/navbar.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Navbar & Tabs</p>
               av-icon far fa-circle text-info"></i>
                <p>Informational</p>
            </a>
        </li>*@
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        @*All my Modals go Here*@
        <div class="modal fade" id="newProject">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="font-weight: bold; font-size:300%">Create Project</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">

                        @using (Html.BeginForm("Create", "Projects"))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.Label("Project Name", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.Editor("Name", new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Description", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.Editor("Description", new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-warning" />
                                    </div>
                                </div>
                            </div>
                        }

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>


        <div class="modal fade" id="editProject">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="font-weight: bold; font-size:300%">Edit Project</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">

                        @using (Html.BeginForm("Edit", "Projects"))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.Label("Project Name", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.Editor("Name", new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Description", htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.Editor("Description", new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Save Edit" class="btn btn-warning" />
                                    </div>
                                </div>
                            </div>
                        }

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>


       


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>


        <!-- /.content-wrapper -->
        @*<footer class="main-footer">
            <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.0.4
            </div>
        </footer>*@

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery.js"></script>

    <script src="~/Scripts/jquery.min.js"></script>


    <!-- jQuery UI 1.11.4 -->
    <script src="~/Scripts/jquery-ui.min.js"></script>

    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->

    <script src="~/Scripts/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Scripts/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/Scripts/jquery.vmap.min.js"></script>

    <script src="~/Scripts/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->

    <script src="~/Scripts/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Scripts/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Summernote -->

    <script src="~/Scripts/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/Scripts/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Scripts/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Scripts/demo.js"></script>


    <script src="//cdn.jsdelivr.net/npm/sweetalert2@9"></script>


    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap4.min.js"></script>




    @RenderSection("Scripts", required: false)

    <script>

        $('.table').DataTable();
    </script>

</body>
</html>
